
STAGE=dev
# https://console.neon.tech/app/projects/restless-darkness-96989701?branchId=br-still-bar-alz7w6vt&database=neondb
# postgresql://DB_USERNAME:DB_PASSWORD@DB_HOST/DB_NAME?sslmode=require&channel_binding=require
DB_USERNAME=postgres
DB_PASSWORD=MySecr3tPassWord@as2
DB_HOST=localhost
DB_NAME=TesloDB
DB_PORT=5432

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s